#nav-id {
  display:inline-block;
  justify-content:space-between;
  align-items: center;
}

  * {
    text-decoration:none;
  }

  .navbar {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

  .navdiv {
    display:flex;
    background-color: green;
    align-items:center;
    justify-content: space-between;
    padding:4px;
  }

  .logo {
    font-size:40px;
    font-weight:400px;
  }

  .logo a {
    color:black;
  }

  li {
      list-style: none;
      display:inline-block;
      padding:1em;
    }

    button {
      background-color:blue;
      color:black;
      padding:15px;
      border-radius:5px;
      font-size:1em;
      margin-right:15px;
      font-weight:bolder
    }

    .African-Menu {
      border:3px solid black;
      background-color:burlywood;
      display:flex;
      align-items: center;
      justify-content: space-between;
      padding-top:3%;
      padding-bottom:3%;
      font-size:1.7em;
    }

    #p0 {
      font-size:larger;
      font-weight:bold;
      margin-left:45%;
    }

    #p01 {
      font-size:larger;
      font-weight:bold;
      margin-left:45%;
    }


    .American-Menu {
      border:3px solid black;
      background-color:burlywood;
      display:flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom:3%;
      padding-top:3%;
      font-size:1em;
      margin-bottom:20px;
    }

    .table24 {
      margin-right:2em;
      padding-right:2px;
    }

    .table2 {
      margin-right:2em;

    }

  p {
    font-size:larger;
    font-weight:bold;
    margin-left:40%;
  } 

  table {
    margin-left:19%

  }  */

  body {
    background-color:rgb(243, 219, 191);
  }
  
  ul li a {
    color:black;
    font-size:19px;
  }

  bottom-section {
    background-color: aqua;
  }



  @media screen and (max-width:500px) {
    footer {
      display:block;
    }

  }

  footer {
      background-color:rgb(51, 206, 206);
      display:flex;
      display:block;
      justify-content:center;
      font-size:25px; 
      width:100%;
      padding-bottom:1em;
      padding-top:1em;
    }